<div class="tm_pb_section  tm_pb_section_7 tm_section_regular tm_section_transparent">
	<div class="container">
		<div class=" row tm_pb_row tm_pb_row_8">
			<div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_13 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_center  tm_pb_text_7">
					<h1>Happy Visitors</h1>
				</div>
				<!-- .tm_pb_text -->
			</div>
			<!-- .tm_pb_column -->
		</div>
		<!-- .tm_pb_row -->
	</div>
	<div class="container">
		<div class=" row tm_pb_row tm_pb_row_9">
		    {% for group in part.thisgroups.items %}
    	    {% for record in part.gvalues[group.id].items %}
			<div class="tm_pb_column tm_pb_column_1_2  tm_pb_column_14 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
				<div class="tm_pb_testimonial tm_pb_testimonial_0 tm_pb_bg_layout_light tm_pb_text_align_center tm_pb_testimonial_no_bg  clearfix tm_pb_module" data-icon="">
					<div class="tm_pb_testimonial_portrait" style="background-image: url({{ record.image }});">
					</div>
					<div class="tm_pb_testimonial_description">
						<div class="tm_pb_testimonial_description_inner">
							<p>{{ record.note }}</p>
							<strong class="tm_pb_testimonial_author">
							{{ record.name }} <em>—</em> 		</strong>
							<span class="tm_pb_testimonial_job_title">
							client		</span>
							<p class="tm_pb_testimonial_meta"></p>
						</div>
						<!-- .tm_pb_testimonial_description_inner -->
					</div>
					<!-- .tm_pb_testimonial_description -->
				</div>
				<!-- .tm_pb_testimonial -->
			</div>
			<!-- .tm_pb_column -->
			{% endfor %}
			{% endfor %}
		</div>
		<!-- .tm_pb_row -->
	</div>
</div>