<div class="tm_pb_section  tm_pb_section_9 tm_pb_with_background tm_section_regular">
	<div class="container">
		<div class=" row tm_pb_row tm_pb_row_11">
			<div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_17 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_center  tm_pb_text_8">
					<h1>Our Blog</h1>
				</div>
				<!-- .tm_pb_text -->
			</div>
			<!-- .tm_pb_column -->
		</div>
		<!-- .tm_pb_row -->
	</div>
	<div class=" row tm_pb_row tm_pb_row_12 tm_pb_row_fullwidth tm_pb_col_padding_reset">
		<div class="tm_pb_column tm_pb_column_4_4 invert tm_pb_column_18 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<div class="tm_pb_posts tm_pb_posts_0 tm_pb_module">
				<div class="tm-posts_title_group">
				</div>
				<div class="tm-posts_listing">
					<div class="row tm_pb_col_padding_reset tm_pb_row_padding_reset tm-posts_layout-3">
					    {% for group in part.thisgroups.items %}
					        {% for record in part.gvalues[group.id].items %}
    						<div class="tm_pb_column col-xl-4 col-lg-4 col-md-4 col-sm-4">
    							<div class="tm-posts_item">
    								<div class="tm-posts_item_image"><a href="{{ record.image }}" class="tm-posts_img"><img src="{{ record.image }}" alt="{{ record.name }}"></a></div>
    								<div class="tm-posts_item_content">
    									<h5 class="tm-posts_item_title"><a href="{{ record.url }}" title="{{ record.name }}" rel="bookmark">{{ record.name }}</a></h5>
    									<div class="tm-posts_item_meta">
    									    <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>4 December, 2016</span>
    									</div>
    								</div>
    							</div>
    						</div>
						    {% endfor %}
						{% endfor %}
					</div>
				</div>
			</div>
			<!-- .tm_pb_posts -->
		</div>
		<!-- .tm_pb_column -->
	</div>
	<!-- .tm_pb_row -->
</div>