<footer id="colophon" class="site-footer centered" role="contentinfo">
	<div class="footer-container">
		<div class="site-info">
			<div class="container">
				<div class="site-info__mid-box">
					<div class="footer-copyright">2018 © Stephania. All rights reserved.</div>
					<nav id="footer-navigation" class="footer-menu" role="navigation">
						<ul id="footer-menu-items" class="footer-menu__items">
							<li id="menu-item-1302" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1302"><a href="#">Privacy Policy</a></li>
						</ul>
					</nav>
					<!-- #footer-navigation -->
				</div>
				<div class="social-list social-list--footer social-list--icon">
					<ul id="social-list-2" class="social-list__items inline-list">
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27"><a href="https://www.facebook.com"><span class="screen-reader-text">Facebook</span></a></li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28"><a href="https://twitter.com"><span class="screen-reader-text">Twitter</span></a></li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-29"><a href="https://plus.google.com"><span class="screen-reader-text">Google plus</span></a></li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30"><a href="https://www.instagram.com"><span class="screen-reader-text">Instagram</span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- .site-info -->
	</div>
	<!-- .container -->
</footer>