<!DOCTYPE html>
<html lang="en-US">
{% include "head.html" %}
<body class="page-template-default page page-id-873 header-layout-minimal header-layout-fullwidth content-layout-fullwidth footer-layout-fullwidth blog-default position-fullwidth sidebar-1-3 mprm_chrome tm_pb_builder">
	<div class="page-preloader-cover">
		<div class="page-preloader">
			<div class="loader">
				<div class="loader-inner ball-beat">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</div>
	</div>
	<div id="page" class="site">
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		{% include "header.html" %}
		<div id="content" class="site-content">
			<div class="breadcrumbs">
				<div class="container">
					<div class="breadcrumbs__title"></div>
					<div class="breadcrumbs__items">
						<div class="breadcrumbs__content">
							<div class="breadcrumbs__wrap">
								<div class="breadcrumbs__item"><a href="wordpress_62366.html" class="breadcrumbs__item-link is-home" rel="home" title="Home">Home</a></div>
								<div class="breadcrumbs__item">
									<div class="breadcrumbs__item-sep">&#47;</div>
								</div>
								<div class="breadcrumbs__item"><span class="breadcrumbs__item-target">Gallery</span></div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="site-content_wrap">
				<div class="row">
					<div id="primary" class="col-xs-12 col-md-12">
						<main id="main" class="site-main" role="main">
							<article id="post-873" class="post-873 page type-page status-publish hentry no-thumb">
								<header class="entry-header">
									<h1 class="entry-title screen-reader-text">Gallery</h1>
								</header>
								<!-- .entry-header -->
								<div class="entry-content">
									<div class="tm_builder_outer_content" id="tm_builder_outer_content">
										<div class="tm_builder_inner_content tm_pb_gutters3">
											<div class="tm_pb_section  tm_pb_section_0 tm_section_regular tm_section_transparent">
												<div class=" row tm_pb_row tm_pb_row_0 tm_pb_row_fullwidth">
													<div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_0 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
														<div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_center  tm_pb_text_0">
															<h1><span style="color: #00a8ac;">Photo</span> Gallery</h1>
														</div>
														<!-- .tm_pb_text -->
														<div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left  tm_pb_text_1">
															<p>
																<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 66 66" height="0" width="0" style="position:absolute">
																	<g id="preloader">
																		<circle class="path" fill="transparent" stroke-width="3" cx="33" cy="33" r="30" stroke="url(images/#gradient)" stroke-linejoin="round"/>
																		<linearGradient id="gradient">
																			<stop class="stop-color" offset="50%" stop-color="#01edc9" stop-opacity="1"/>
																			<stop class="stop-color" offset="65%" stop-color="#01edc9" stop-opacity=".5"/>
																			<stop class="stop-color" offset="100%" stop-color="#01edc9" stop-opacity="0"/>
																		</linearGradient>
																	</g>
																</svg>
															<div class="tm-pg_frontend" data-id="872"	 data-view="grid" data-post-id="873">
																<div class="tm-pg_front_gallery ">
																	<ul class="tm-pg_front_gallery-tabs">
																		<li class="active">
																			<a data-id="all" data-count="15" href="#">
																			All (15)	</a>
																		</li>
																		<li>
																			<a href="#" data-count="4" 
																				data-id="70" 
																				data-type="tm_pg_category">
																			Hair &amp; Skin Care (4)		</a>
																		</li>
																		<li>
																			<a href="#" data-count="3" 
																				data-id="68" 
																				data-type="tm_pg_category">
																			Massage (3)		</a>
																		</li>
																		<li>
																			<a href="#" data-count="2" 
																				data-id="69" 
																				data-type="tm_pg_category">
																			Treatments (2)		</a>
																		</li>
																	</ul>
																	<div class="tm-pg_front_gallery-preloader tm-pg_hidden">
																		<svg version="1.1"
																			xmlns="http://www.w3.org/2000/svg"
																			xmlns:xlink="http://www.w3.org/1999/xlink"
																			viewBox="0 0 66 66"
																			class="preloader"
																			style="display:inline-block">
																			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#preloader"></use>
																		</svg>
																	</div>
																	<div class="tm-pg_front_gallery-grid  tm-pg_animation-fade tm-pg_hover-scale"
																		data-load-more-img="0">
																		<div class="container">
																			<div class="row">
																				<div class="tm_pg_gallery-item col-xs-6 col-lg-4 "
																					data-id="1849" data-type="img">
																					<div class="tm_pg_gallery-item-wrapper">
																						<a href="images/Treatments.jpg" class="tm_pg_gallery-item_link" data-effect="fadeIn">
																							<img src="images/Treatments-534x404.jpg" alt="">
																							<div class="tm_pg_gallery-item_meta">
																								<i class="tm_pg_gallery-item_icon tm_pg_image-icon"></i>
																								<h3 class="tm_pg_gallery-item_title">Treatments</h3>
																								<p class="tm_pg_gallery-item_description"></p>
																							</div>
																						</a>
																					</div>
																				</div>
																				<div class="tm_pg_gallery-item col-xs-6 col-lg-4 "
																					data-id="1850" data-type="img">
																					<div class="tm_pg_gallery-item-wrapper">
																						<a href="images/SkinCare.jpg" class="tm_pg_gallery-item_link" data-effect="fadeIn">
																							<img src="images/SkinCare-534x404.jpg" alt="">
																							<div class="tm_pg_gallery-item_meta">
																								<i class="tm_pg_gallery-item_icon tm_pg_image-icon"></i>
																								<h3 class="tm_pg_gallery-item_title">SkinCare</h3>
																								<p class="tm_pg_gallery-item_description"></p>
																							</div>
																						</a>
																					</div>
																				</div>
																				<div class="tm_pg_gallery-item col-xs-6 col-lg-4 "
																					data-id="1851" data-type="img">
																					<div class="tm_pg_gallery-item-wrapper">
																						<a href="images/Pedicure.jpg" class="tm_pg_gallery-item_link" data-effect="fadeIn">
																							<img src="images/Pedicure-534x404.jpg" alt="">
																							<div class="tm_pg_gallery-item_meta">
																								<i class="tm_pg_gallery-item_icon tm_pg_image-icon"></i>
																								<h3 class="tm_pg_gallery-item_title">Pedicure</h3>
																								<p class="tm_pg_gallery-item_description"></p>
																							</div>
																						</a>
																					</div>
																				</div>
																				<div class="tm_pg_gallery-item col-xs-6 col-lg-4 "
																					data-id="1852" data-type="img">
																					<div class="tm_pg_gallery-item-wrapper">
																						<a href="images/FeetTreatments.jpg" class="tm_pg_gallery-item_link" data-effect="fadeIn">
																							<img src="images/FeetTreatments-534x404.jpg" alt="">
																							<div class="tm_pg_gallery-item_meta">
																								<i class="tm_pg_gallery-item_icon tm_pg_image-icon"></i>
																								<h3 class="tm_pg_gallery-item_title">FeetTreatments</h3>
																								<p class="tm_pg_gallery-item_description"></p>
																							</div>
																						</a>
																					</div>
																				</div>
																				<div class="tm_pg_gallery-item col-xs-6 col-lg-4 "
																					data-id="1853" data-type="img">
																					<div class="tm_pg_gallery-item-wrapper">
																						<a href="images/BodyTreatments.jpg" class="tm_pg_gallery-item_link" data-effect="fadeIn">
																							<img src="images/BodyTreatments-534x404.jpg" alt="">
																							<div class="tm_pg_gallery-item_meta">
																								<i class="tm_pg_gallery-item_icon tm_pg_image-icon"></i>
																								<h3 class="tm_pg_gallery-item_title">BodyTreatments</h3>
																								<p class="tm_pg_gallery-item_description"></p>
																							</div>
																						</a>
																					</div>
																				</div>
																				<div class="tm_pg_gallery-item col-xs-6 col-lg-4 "
																					data-id="1854" data-type="img">
																					<div class="tm_pg_gallery-item-wrapper">
																						<a href="images/Massages.jpg" class="tm_pg_gallery-item_link" data-effect="fadeIn">
																							<img src="images/Massages-534x404.jpg" alt="">
																							<div class="tm_pg_gallery-item_meta">
																								<i class="tm_pg_gallery-item_icon tm_pg_image-icon"></i>
																								<h3 class="tm_pg_gallery-item_title">Massages</h3>
																								<p class="tm_pg_gallery-item_description"></p>
																							</div>
																						</a>
																					</div>
																				</div>
																				<div class="tm_pg_gallery-item col-xs-6 col-lg-4 "
																					data-id="1855" data-type="img">
																					<div class="tm_pg_gallery-item-wrapper">
																						<a href="images/Medi-Spa.jpg" class="tm_pg_gallery-item_link" data-effect="fadeIn">
																							<img src="images/Medi-Spa-534x404.jpg" alt="">
																							<div class="tm_pg_gallery-item_meta">
																								<i class="tm_pg_gallery-item_icon tm_pg_image-icon"></i>
																								<h3 class="tm_pg_gallery-item_title">Medi-Spa</h3>
																								<p class="tm_pg_gallery-item_description"></p>
																							</div>
																						</a>
																					</div>
																				</div>
																				<div class="tm_pg_gallery-item col-xs-6 col-lg-4 "
																					data-id="1856" data-type="img">
																					<div class="tm_pg_gallery-item-wrapper">
																						<a href="images/waxing.jpg" class="tm_pg_gallery-item_link" data-effect="fadeIn">
																							<img src="images/waxing-534x404.jpg" alt="">
																							<div class="tm_pg_gallery-item_meta">
																								<i class="tm_pg_gallery-item_icon tm_pg_image-icon"></i>
																								<h3 class="tm_pg_gallery-item_title">waxing</h3>
																								<p class="tm_pg_gallery-item_description"></p>
																							</div>
																						</a>
																					</div>
																				</div>
																				<div class="tm_pg_gallery-item col-xs-6 col-lg-4 "
																					data-id="1857" data-type="img">
																					<div class="tm_pg_gallery-item-wrapper">
																						<a href="images/FacialCare.jpg" class="tm_pg_gallery-item_link" data-effect="fadeIn">
																							<img src="images/FacialCare-534x404.jpg" alt="">
																							<div class="tm_pg_gallery-item_meta">
																								<i class="tm_pg_gallery-item_icon tm_pg_image-icon"></i>
																								<h3 class="tm_pg_gallery-item_title">FacialCare</h3>
																								<p class="tm_pg_gallery-item_description"></p>
																							</div>
																						</a>
																					</div>
																				</div>
																				<div class="tm_pg_gallery-item col-xs-6 col-lg-4 "
																					data-id="881" data-type="album">
																					<div class="tm_pg_gallery-item-wrapper">
																						<a href="wordpress_62366gallerygallerytm_pg_albumalbum-1.html" class="tm_pg_gallery-item_link" data-effect="fadeIn">
																							<img src="images/Pedicure-534x404.jpg" alt="">
																							<div class="tm_pg_gallery-item_label">Album</div>
																							<div class="tm_pg_gallery-item_meta">
																								<i class="tm_pg_gallery-item_icon tm_pg_album-icon"></i>
																								<h3 class="tm_pg_gallery-item_title">Waxing</h3>
																								<p class="tm_pg_gallery-item_description"></p>
																								<p class="tm_pg_gallery-item_counter">4 images</p>
																							</div>
																						</a>
																					</div>
																				</div>
																				<div class="tm_pg_gallery-item col-xs-6 col-lg-4"
																					data-id="906" data-type="set">
																					<div class="tm_pg_gallery-item-wrapper">
																						<a href="wordpress_62366gallerygallerytm_pg_setset-2.html" class="tm_pg_gallery-item_link" data-effect="fadeIn">
																							<img src="images/FeetTreatments-534x404.jpg" alt="">
																							<div class="tm_pg_gallery-item_label">Set</div>
																							<div class="tm_pg_gallery-item_meta">
																								<i class="tm_pg_gallery-item_icon tm_pg_set-icon"></i>
																								<h3 class="tm_pg_gallery-item_title">Body Treatments</h3>
																								<p class="tm_pg_gallery-item_description"></p>
																								<p class="tm_pg_gallery-item_counter">3 images, 1 album</p>
																							</div>
																						</a>
																					</div>
																				</div>
																				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 tm_pg_gallery-item tm_pg_gallery-item_show-more" style="opacity: 0">
																					<a href="#" class="tm_pg_gallery-item_link_show-more">
																						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 66 66" height="117px" width="117px" class="preloader" style="display:none">
																							<g>
																								<circle stroke-linejoin="round" stroke="url(images/#grid-gradient-white)" r="30" cy="33" cx="33" stroke-width="3" fill="transparent" class="path"/>
																								<linearGradient id="grid-gradient-white">
																									<stop stop-opacity="1" stop-color="#fff" offset="50%"/>
																									<stop stop-opacity=".5" stop-color="#fff" offset="65%"/>
																									<stop stop-opacity="0" stop-color="#fff" offset="100%"/>
																								</linearGradient>
																							</g>
																						</svg>
																						<i class="tm_pg_gallery-item_default_icon material-icons">keyboard_arrow_down</i>
																						<span>Load More</span>
																					</a>
																				</div>
																			</div>
																		</div>
																	</div>
																	<input type="hidden" name="images_per_page" value="11"/>
																	<input type="hidden" name="offset" autocomplete="off" value="0"/>
																	<input type="hidden" name="term_id" autocomplete="off" value="all"/>
																	<input type="hidden" name="term_type" autocomplete="off" value=""/>
																	<input type="hidden" name="all_count" autocomplete="off" value="15"/>
																	<div class="tm-pg_front_gallery-navigation" data-load-more-page="1">
																		<nav class=" " role="navigation"
																			data-count="2">
																			<div class="tm_pg_nav-links" >
																				<a class="prev tm_pg_page-numbers"  style="display: none" href="#">
																				<i aria-hidden="true">navigate_before</i>
																				</a>
																				<a href="#" data-pos="1" class="tm_pg_page-numbers current">
																				1					</a>
																				<a href="#" data-pos="2" class="tm_pg_page-numbers ">
																				2					</a>
																				<a class="next tm_pg_page-numbers"  href="#">
																				<i aria-hidden="true">navigate_next</i>
																				</a>
																			</div>
																		</nav>
																	</div>
																</div>
															</div>
														</div>
														<!-- .tm_pb_text -->
													</div>
													<!-- .tm_pb_column -->
												</div>
												<!-- .tm_pb_row -->
											</div>
											<!-- .tm_pb_section -->
										</div>
									</div>
								</div>
								<!-- .entry-content -->
								<footer class="entry-footer">
								</footer>
								<!-- .entry-footer -->
							</article>
							<!-- #post-## -->
						</main>
						<!-- #main -->
					</div>
					<!-- #primary -->
				</div>
				<!-- .row -->
			</div>
			<!-- .container -->
		</div>
		<!-- #content -->
		{% include "footer.html" %}
		<!-- #colophon -->
	</div>
	<!-- #page -->
	<style type="text/css" id="tm-builder-advanced-style">
		.tm_pb_builder #tm_builder_outer_content .tm_pb_text_0 { padding-top: 4px !important; }
	</style>
	{% include "scripts.html" %}			
	<script type='text/javascript' src='js/underscore.min.js?ver=1.8.3'></script>
	<script type='text/javascript' src='js/registry-factory.js'></script>
	<script type='text/javascript' src='js/lightgallery.min.js'></script>
	<script type='text/javascript' src='js/lg-autoplay.min.js'></script>
	<script type='text/javascript' src='js/lg-fullscreen.min.js'></script>
	<script type='text/javascript' src='js/lg-thumbnail.min.js'></script>
	<script type='text/javascript' src='js/constructor.js'></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var tm_pg_options = {"tm_pg_first_activated":"1","nonce":"825a5037cf","site_url":"https:\/\/ld-wp.template-help.com\/wordpress_62366","wp_version":"4.7.11","media_url":"https:\/\/ld-wp.template-help.com\/wordpress_62366\/wp-content\/plugins\/tm-photo-gallery\/media\/","action":"tm_pg_action","post_types":{"album":"tm_pg_album","set":"tm_pg_set","gallery":"tm_pg_gallery","image":"attachment"},"tax_names":{"category":"tm_pg_category","tag":"tm_pg_post_tag"},"ajax_url":"https:\/\/ld-wp.template-help.com\/wordpress_62366\/wp-admin\/admin-ajax.php","grid_thumb":{"grid-medium":{"width":"400","height":"300","type":"grid"},"grid-large":{"width":"900","height":"675","type":"grid"},"grid-default":{"width":"534","height":"404","type":"grid"}},"back_img_url":"https:\/\/ld-wp.template-help.com\/wordpress_62366\/wp-content\/plugins\/tm-photo-gallery\/media\/img\/back.png"};
		/* ]]> */
	</script>
	<script type='text/javascript' src='js/grid.js'></script>
	<script type='text/javascript' src='js/slider.js'></script>
	<script type='text/javascript' src='js/imagesloaded.pkgd.min.js'></script>
	<script type='text/javascript' src='js/masonry.pkgd.min.js'></script>
	<style>
		.tm-pg_frontend[data-id="872"] .tm-pg_front_gallery-grid > .row {
		margin: -25px;
		}
		.tm-pg_frontend[data-id="872"] .tm-pg_front_gallery-grid .tm_pg_gallery-item {
		padding: 25px;
		}
	</style>
</body>
</html>