<header id="masthead" class="site-header minimal" role="banner">
				
	<div class="top-panel invert">
		<div class="top-panel__wrap container">
			<div class="top_panel_head">
				<div class="top-panel__message">
					<div class="info-block"><i class="material-icons">place</i> 7087 Richmond hwy, Alexandria, VA</div>
					<div class="info-block"><i class="material-icons">call</i> 800-2345-6789</div>
				</div>
				<div class="social-list social-list--header social-list--icon">
					<ul id="social-list-1" class="social-list__items inline-list">
						<li id="menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27"><a href="https://www.facebook.com"><span class="screen-reader-text">Facebook</span></a></li>
						<li id="menu-item-28" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28"><a href="https://twitter.com"><span class="screen-reader-text">Twitter</span></a></li>
						<li id="menu-item-29" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-29"><a href="https://plus.google.com"><span class="screen-reader-text">Google plus</span></a></li>
						<li id="menu-item-30" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30"><a href="https://www.instagram.com"><span class="screen-reader-text">Instagram</span></a></li>
					</ul>
				</div>
			</div>
			<div class="top_panel_bottom"></div>
		</div>
	</div><!-- .top-panel -->		
	<div class="header-container">
	<div class="header-container_wrap container">
				
	<div class="header-container__flex">
		<div class="site-branding">
			<div class="site-logo">
				<a class="site-logo__link" href="/" rel="home"><img src="images/logo.png" alt="Stephania" class="site-link__img"></a>
			</div>
		</div>
		{{ module('main_menu.main') }}
		<a href="/appointment/" class="btn btn-primary booking">Make an appointment</a></div>
	</div>
	</div><!-- .header-container -->
</header><!-- #masthead -->