<!DOCTYPE html>
<html lang="en-US">
	{% include "head.html" %}
	<body class="cherry-services-template-default single single-cherry-services postid-848 header-layout-minimal header-layout-fullwidth content-layout-fullwidth footer-layout-fullwidth blog-default position-fullwidth sidebar-1-3 mprm_chrome tm_pb_builder">
		<div class="page-preloader-cover">
			<div class="page-preloader">
				<div class="loader">
					<div class="loader-inner ball-beat">
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
			</div>
		</div>
		<div id="page" class="site">
			<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
			{% include "header.html" %}
			<!-- #masthead -->
			<div id="content" class="site-content">
				<div class="breadcrumbs">
					<div class="container">
						<div class="breadcrumbs__title"></div>
						<div class="breadcrumbs__items">
							<div class="breadcrumbs__content">
								<div class="breadcrumbs__wrap">
									<div class="breadcrumbs__item"><a href="/" class="breadcrumbs__item-link is-home" rel="home" title="Home">Home</a></div>
									<div class="breadcrumbs__item">
										<div class="breadcrumbs__item-sep">&#47;</div>
									</div>
									<div class="breadcrumbs__item"><a href="/services/" class="breadcrumbs__item-link" rel="tag" title="Services">Services</a></div>
									<div class="breadcrumbs__item">
										<div class="breadcrumbs__item-sep">&#47;</div>
									</div>
									<div class="breadcrumbs__item"><span class="breadcrumbs__item-target">Medi-spa</span></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="site-content_wrap">
					<div class="row">
						<div id="primary" class="col-xs-12 col-md-12">
							<main id="main" class="site-main" role="main">
								<article class="post-848 cherry-services type-cherry-services status-publish has-post-thumbnail hentry has-thumb">
									<div class="cherry-services services-wrap template-single">
										<div id="services-848" class="services-single-item item-1 clearfix odd">
											{{ module('text_block.item', 'services') }}
											<div class="invert">
												{{ module('consultation_form.main') }}
											</div>
										</div>
										<!--/.services-item-->
									</div>
								</article>
							</main>
							<!-- #main -->
						</div>
						<!-- #primary -->
					</div>
					<!-- .row -->
				</div>
				<!-- .container -->
			</div>
			<!-- #content -->
			{% include "footer.html" %}
			<!-- #colophon -->
		</div>
		<!-- #page -->
		{% include "scripts.html" %}
	</body>
</html>