<!DOCTYPE html>
<html lang="en-US">
{% include "head.html" %}
<body class="team-template-default single single-team postid-331 header-layout-minimal header-layout-fullwidth content-layout-boxed footer-layout-fullwidth blog-default position-one-right-sidebar sidebar-1-3 mprm_chrome tm_pb_builder">
	<div class="page-preloader-cover">
		<div class="page-preloader">
			<div class="loader">
				<div class="loader-inner ball-beat">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</div>
	</div>
	<div id="page" class="site">
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		{% include "header.html" %}
		<!-- #masthead -->
		<div id="content" class="site-content container">
			<div class="breadcrumbs">
				<div class="container">
					<div class="breadcrumbs__title"></div>
					<div class="breadcrumbs__items">
						<div class="breadcrumbs__content">
							<div class="breadcrumbs__wrap">
								<div class="breadcrumbs__item"><a href="https://ld-wp.template-help.com/wordpress_62366/" class="breadcrumbs__item-link is-home" rel="home" title="Home">Home</a></div>
								<div class="breadcrumbs__item">
									<div class="breadcrumbs__item-sep">&#47;</div>
								</div>
								<div class="breadcrumbs__item"><a href="https://ld-wp.template-help.com/wordpress_62366/team/" class="breadcrumbs__item-link" rel="tag" title="Team">Team</a></div>
								<div class="breadcrumbs__item">
									<div class="breadcrumbs__item-sep">&#47;</div>
								</div>
								<div class="breadcrumbs__item"><span class="breadcrumbs__item-target">Mary Fruition</span></div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="site-content_wrap container">
				<div class="row">
				{{ module('preview_card.item', 'specialist') }}
				</div>
				<!-- .row -->
			</div>
			<!-- .container -->
		</div>
		<!-- #content -->
		{% include "footer.html" %}
		<!-- #colophon -->
	</div>
	<!-- #page -->
	{% include "scripts.html" %}
</body>
</html>