<!DOCTYPE html>
<html lang="en-US">
{% include "head.html" %}
<body class="page-template-default page page-id-51 header-layout-minimal header-layout-fullwidth content-layout-boxed footer-layout-fullwidth blog-default position-one-right-sidebar sidebar-1-3 mprm_chrome tm_pb_builder">
	<div class="page-preloader-cover">
		<div class="page-preloader">
			<div class="loader">
				<div class="loader-inner ball-beat">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</div>
	</div>
	<div id="page" class="site">
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		{% include "header.html" %}
		<div id="content" class="site-content container">
			<div class="breadcrumbs">
				<div class="container">
					<div class="breadcrumbs__title"></div>
					<div class="breadcrumbs__items">
						<div class="breadcrumbs__content">
							<div class="breadcrumbs__wrap">
								<div class="breadcrumbs__item"><a href="wordpress_62366.html" class="breadcrumbs__item-link is-home" rel="home" title="Home">Home</a></div>
								<div class="breadcrumbs__item">
									<div class="breadcrumbs__item-sep">&#47;</div>
								</div>
								<div class="breadcrumbs__item"><span class="breadcrumbs__item-target">Typography</span></div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="site-content_wrap container">
				<div class="row">
					<div id="primary" class="col-xs-12 col-md-12 col-lg-8">
						<main id="main" class="site-main" role="main">
							<article id="post-51" class="post-51 page type-page status-publish hentry no-thumb">
								<header class="entry-header">
									<h1 class="entry-title screen-reader-text">Typography</h1>
								</header>
								<!-- .entry-header -->
								<div class="entry-content">
									<h2>Typography</h2>
									<p>&nbsp;</p>
									<h1>H1 Heading</h1>
									<p>Treat yourself to an ultimate relaxation at our SPA getaway&#8230; Our SPA &#038; skin care salon will be your perfect getaway for any kind of body and mind relaxation and a skin care&#8230;<br />
										It&#8217;s been like that since the day 1, when our SPA salon was founded by Mary Fruition back in 1998. She did so in a spur of a moment decision, after previously saving enough money working as a SPA salon senior manager in a prestigious North Carolina&#8217;s hotel. Since then we&#8217;ve been expanding both our SPA salon&#8217;s team, our list of skin care and relaxation-inducing services and our name recognition as well.
									</p>
									<h2>H2 Heading</h2>
									<p>Treat yourself to an ultimate relaxation at our SPA getaway&#8230; Our SPA &#038; skin care salon will be your perfect getaway for any kind of body and mind relaxation and a skin care&#8230;<br />
										It&#8217;s been like that since the day 1, when our SPA salon was founded by Mary Fruition back in 1998. She did so in a spur of a moment decision, after previously saving enough money working as a SPA salon senior manager in a prestigious North Carolina&#8217;s hotel. Since then we&#8217;ve been expanding both our SPA salon&#8217;s team, our list of skin care and relaxation-inducing services and our name recognition as well.
									</p>
									<h3>H3 Heading</h3>
									<p>Treat yourself to an ultimate relaxation at our SPA getaway&#8230; Our SPA &#038; skin care salon will be your perfect getaway for any kind of body and mind relaxation and a skin care&#8230;<br />
										It&#8217;s been like that since the day 1, when our SPA salon was founded by Mary Fruition back in 1998. She did so in a spur of a moment decision, after previously saving enough money working as a SPA salon senior manager in a prestigious North Carolina&#8217;s hotel. Since then we&#8217;ve been expanding both our SPA salon&#8217;s team, our list of skin care and relaxation-inducing services and our name recognition as well.
									</p>
									<h4>H4 Heading</h4>
									<p>Treat yourself to an ultimate relaxation at our SPA getaway&#8230; Our SPA &#038; skin care salon will be your perfect getaway for any kind of body and mind relaxation and a skin care&#8230;<br />
										It&#8217;s been like that since the day 1, when our SPA salon was founded by Mary Fruition back in 1998. She did so in a spur of a moment decision, after previously saving enough money working as a SPA salon senior manager in a prestigious North Carolina&#8217;s hotel. Since then we&#8217;ve been expanding both our SPA salon&#8217;s team, our list of skin care and relaxation-inducing services and our name recognition as well.
									</p>
									<h5>H5 Heading</h5>
									<p>Treat yourself to an ultimate relaxation at our SPA getaway&#8230; Our SPA &#038; skin care salon will be your perfect getaway for any kind of body and mind relaxation and a skin care&#8230;<br />
										It&#8217;s been like that since the day 1, when our SPA salon was founded by Mary Fruition back in 1998. She did so in a spur of a moment decision, after previously saving enough money working as a SPA salon senior manager in a prestigious North Carolina&#8217;s hotel. Since then we&#8217;ve been expanding both our SPA salon&#8217;s team, our list of skin care and relaxation-inducing services and our name recognition as well.
									</p>
									<h6>H6 Heading</h6>
									<p>Treat yourself to an ultimate relaxation at our SPA getaway&#8230; Our SPA &#038; skin care salon will be your perfect getaway for any kind of body and mind relaxation and a skin care&#8230;<br />
										It&#8217;s been like that since the day 1, when our SPA salon was founded by Mary Fruition back in 1998. She did so in a spur of a moment decision, after previously saving enough money working as a SPA salon senior manager in a prestigious North Carolina&#8217;s hotel. Since then we&#8217;ve been expanding both our SPA salon&#8217;s team, our list of skin care and relaxation-inducing services and our name recognition as well.
									</p>
									<hr />
									<h2>Unordered List</h2>
									<ul>
										<li>Waxing</li>
										<li>Facial Care</li>
										<li>Medi-Spa</li>
										<li>Massages</li>
										<li>Body Treatments</li>
										<li>Feet Treatments/Pedicure</li>
									</ul>
									<hr />
									<h2>Ordered List</h2>
									<ol>
										<li>Waxing</li>
										<li>Facial Care</li>
										<li>Medi-Spa</li>
										<li>Massages</li>
										<li>Body Treatments</li>
										<li>Feet Treatments/Pedicure</li>
									</ol>
									<hr />
									<h2>Blockquotes</h2>
									<p>Treat yourself to an ultimate relaxation at our SPA getaway&#8230; Our SPA &#038; skin care salon will be your perfect getaway for any kind of body and mind relaxation and a skin care&#8230;<br />
										It&#8217;s been like that since the day 1, when our SPA salon was founded by Mary Fruition back in 1998. She did so in a spur of a moment decision, after previously saving enough money working as a SPA salon senior manager in a prestigious North Carolina&#8217;s hotel. 
									</p>
									<blockquote>
										<p>Since then we&#8217;ve been expanding both our SPA salon&#8217;s team, our list of skin care and relaxation-inducing services and our name recognition as well.<cite>Donald Shepard</cite></p>
									</blockquote>
									<p>All 6 of our main skin care services, just as well as our team of 12 SPA professionals will be helping you to get away to a more calm state of mind and body.</p>
									<hr />
									<h2>Some Other Styles</h2>
									<p>Bold: <strong>There is a basic, first situation when it&#8217;s not a good idea to do intensity prescriptions. </strong><br />
										Italic: <em>There is a basic, first situation when it&#8217;s not a good idea to do intensity prescriptions. </em><br />
										Strike-through: <del>There is a basic, first situation when it&#8217;s not a good idea to do intensity prescriptions. </del><br />
										Link: <a href="#">There is a basic, first situation when it&#8217;s not a good idea to do intensity prescriptions. </a><br />
										Inline Code: <code>There is a basic, first situation when it's not a good idea to do intensity prescriptions.</code>
									</p>
									<hr />
									<h2>Center Aligned Image</h2>
									<p>Treat yourself to an ultimate relaxation at our SPA getaway&#8230; Our SPA &#038; skin care salon will be your perfect getaway for any kind of body and mind relaxation and a skin care&#8230;<br />
										It&#8217;s been like that since the day 1, when our SPA salon was founded by Mary Fruition back in 1998. 
									</p>
									<p><img src="images/img46.jpg" alt="" width="834" height="674" class="aligncenter size-full wp-image-1843" srcset="https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/10/img46.jpg 834w, https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/10/img46-300x242.jpg 300w, https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/10/img46-768x621.jpg 768w, https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/10/img46-400x323.jpg 400w, https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/10/img46-371x300.jpg 371w" sizes="(max-width: 834px) 100vw, 834px" /></p>
									<p>She did so in a spur of a moment decision, after previously saving enough money working as a SPA salon senior manager in a prestigious North Carolina&#8217;s hotel. Since then we&#8217;ve been expanding both our SPA salon&#8217;s team, our list of skin care and relaxation-inducing services and our name recognition as well.</p>
									<hr />
									<h2>Left Aligned Image</h2>
									<p><img src="images/img47.jpg" alt="" width="498" height="402" class="alignleft size-full wp-image-1844" srcset="https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/10/img47.jpg 498w, https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/10/img47-300x242.jpg 300w, https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/10/img47-400x323.jpg 400w, https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/10/img47-372x300.jpg 372w" sizes="(max-width: 498px) 100vw, 498px" />Treat yourself to an ultimate relaxation at our SPA getaway&#8230; Our SPA &#038; skin care salon will be your perfect getaway for any kind of body and mind relaxation and a skin care&#8230;<br />
										It&#8217;s been like that since the day 1, when our SPA salon was founded by Mary Fruition back in 1998. She did so in a spur of a moment decision, after previously saving enough money working as a SPA salon senior manager in a prestigious North Carolina&#8217;s hotel. Since then we&#8217;ve been expanding both our SPA salon&#8217;s team, our list of skin care and relaxation-inducing services and our name recognition as well.
									</p>
									<hr />
									<h2>Right Aligned Image</h2>
									<p><img src="images/img47.jpg" alt="" width="498" height="402" class="alignright size-full wp-image-1844" srcset="https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/10/img47.jpg 498w, https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/10/img47-300x242.jpg 300w, https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/10/img47-400x323.jpg 400w, https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/10/img47-372x300.jpg 372w" sizes="(max-width: 498px) 100vw, 498px" />Treat yourself to an ultimate relaxation at our SPA getaway&#8230; Our SPA &#038; skin care salon will be your perfect getaway for any kind of body and mind relaxation and a skin care&#8230;<br />
										It&#8217;s been like that since the day 1, when our SPA salon was founded by Mary Fruition back in 1998. She did so in a spur of a moment decision, after previously saving enough money working as a SPA salon senior manager in a prestigious North Carolina&#8217;s hotel. Since then we&#8217;ve been expanding both our SPA salon&#8217;s team, our list of skin care and relaxation-inducing services and our name recognition as well.
									</p>
									<hr />
									<h2>Large Image</h2>
									<p><img src="images/img32.jpg" alt="" width="1728" height="787" class="alignnone size-full wp-image-1723" srcset="https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/12/img32.jpg 1728w, https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/12/img32-300x137.jpg 300w, https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/12/img32-768x350.jpg 768w, https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/12/img32-1024x466.jpg 1024w, https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/12/img32-400x182.jpg 400w, https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/12/img32-900x410.jpg 900w, https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/12/img32-659x300.jpg 659w, https://ld-wp.template-help.com/wordpress_62366/wp-content/uploads/2016/12/img32-1482x675.jpg 1482w" sizes="(max-width: 1728px) 100vw, 1728px" /></p>
									<p>Treat yourself to an ultimate relaxation at our SPA getaway&#8230; Our SPA &#038; skin care salon will be your perfect getaway for any kind of body and mind relaxation and a skin care&#8230;<br />
										It&#8217;s been like that since the day 1, when our SPA salon was founded by Mary Fruition back in 1998. She did so in a spur of a moment decision, after previously saving enough money working as a SPA salon senior manager in a prestigious North Carolina&#8217;s hotel. Since then we&#8217;ve been expanding both our SPA salon&#8217;s team, our list of skin care and relaxation-inducing services and our name recognition as well.
									</p>
									<p>&nbsp;</p>
								</div>
								<!-- .entry-content -->
								<footer class="entry-footer">
								</footer>
								<!-- .entry-footer -->
							</article>
							<!-- #post-## -->
						</main>
						<!-- #main -->
					</div>
					<!-- #primary -->
					<div id="sidebar" class="col-xs-12 col-md-12 col-lg-4 sidebar widget-area" role="complementary">
						<aside id="search-2" class="widget widget_search">
							<h2 class="widget-title">Search</h2>
							<div class="cherry-search">
								<form role="search" method="get" class="search-form cherry-search__form" action="https://ld-wp.template-help.com/wordpress_62366">
									<label class="cherry-search__label">
									<span class="screen-reader-text">Search for:</span>
									<input type="search" class="search-field cherry-search__field" placeholder="search&hellip;" value="" name="s" autocomplete="off"/>
									</label>
									<button type="submit" class="search-submit cherry-search__submit btn btn-primary">
									<span class="cherry-search__submite_text">Search</span>
									</button>
								</form>
								<div class="cherry-search__results-list">
									<ul></ul>
									<div class="cherry-search__spinner_holder">
										<div class="cherry-search__spinner">
											<div class="rect1"></div>
											<div class="rect2"></div>
											<div class="rect3"></div>
											<div class="rect4"></div>
											<div class="rect5"></div>
										</div>
									</div>
									<span class="cherry-search__message"></span>
								</div>
							</div>
						</aside>
						<aside id="categories-2" class="widget widget_categories">
							<h2 class="widget-title">Categories</h2>
							<ul>
								<li class="cat-item cat-item-10"><a href="wordpress_62366categoryaesthetician.html" >Aesthetician</a></li>
								<li class="cat-item cat-item-16"><a href="wordpress_62366categorybeauty.html" >Beauty</a></li>
								<li class="cat-item cat-item-11"><a href="wordpress_62366categoryfacelifts.html" >Facelifts</a></li>
								<li class="cat-item cat-item-12"><a href="wordpress_62366categorymedi-spa.html" >Medi-Spa</a></li>
								<li class="cat-item cat-item-14"><a href="wordpress_62366categoryskin.html" >Skin</a></li>
								<li class="cat-item cat-item-18"><a href="wordpress_62366categoryspa.html" >SPA</a></li>
								<li class="cat-item cat-item-1"><a href="wordpress_62366categoryuncategorized.html" >Uncategorized</a></li>
							</ul>
						</aside>
						<aside id="recent-posts-2" class="widget widget_recent_entries">
							<h2 class="widget-title">Blog Updates</h2>
							<ul>
								<li>
									<a href="wordpress_6236620161204eat-a-skin-saving-breakfast.html">Eat a Skin-Saving Breakfast</a>
									<span class="post-date">4 December, 2016</span>
								</li>
								<li>
									<a href="wordpress_6236620161204spray-away-dryness.html">Spray Away Dryness</a>
									<span class="post-date">4 December, 2016</span>
								</li>
								<li>
									<a href="wordpress_6236620161204zen-your-skin.html">Zen Your Skin</a>
									<span class="post-date">4 December, 2016</span>
								</li>
							</ul>
						</aside>
						<aside id="tag_cloud-2" class="widget widget_tag_cloud">
							<h2 class="widget-title">Tags</h2>
							<div class="tagcloud"><a href='wordpress_62366taganaesthetic.html' class='tag-link-59 tag-link-position-1' title='3 topics' style='font-size: 14px;'>anaesthetic</a>
								<a href='wordpress_62366tagbeauty.html' class='tag-link-25 tag-link-position-2' title='2 topics' style='font-size: 14px;'>beauty</a>
								<a href='wordpress_62366tagfacelifts.html' class='tag-link-24 tag-link-position-3' title='1 topic' style='font-size: 14px;'>facelifts</a>
								<a href='wordpress_62366tagmedi-spa.html' class='tag-link-22 tag-link-position-4' title='2 topics' style='font-size: 14px;'>medi-spa</a>
								<a href='wordpress_62366tagplastic.html' class='tag-link-21 tag-link-position-5' title='4 topics' style='font-size: 14px;'>plastic</a>
								<a href='wordpress_62366tagskin.html' class='tag-link-26 tag-link-position-6' title='1 topic' style='font-size: 14px;'>skin</a>
								<a href='wordpress_62366tagspa.html' class='tag-link-23 tag-link-position-7' title='3 topics' style='font-size: 14px;'>spa</a>
								<a href='wordpress_62366tagsureon.html' class='tag-link-20 tag-link-position-8' title='4 topics' style='font-size: 14px;'>sureon</a>
							</div>
						</aside>
						<aside id="recent-comments-2" class="widget widget_recent_comments">
							<h2 class="widget-title">Recent Comments</h2>
							<ul id="recentcomments">
								<li class="recentcomments"><span class="comment-author-link">admin</span> on <a href="https://ld-wp.template-help.com/wordpress_62366/2016/10/04/image-format/#comment-32">Image Format</a></li>
								<li class="recentcomments"><span class="comment-author-link">admin</span> on <a href="https://ld-wp.template-help.com/wordpress_62366/2016/10/04/image-format/#comment-31">Image Format</a></li>
								<li class="recentcomments"><span class="comment-author-link">admin</span> on <a href="https://ld-wp.template-help.com/wordpress_62366/2016/10/04/gallery-format/#comment-30">Gallery Format</a></li>
								<li class="recentcomments"><span class="comment-author-link">admin</span> on <a href="wordpress_6236620161004gallery-format.html">Gallery Format</a></li>
							</ul>
						</aside>
						<aside id="text-4" class="widget widget_text">
							<h2 class="widget-title">Healthcare trivia:</h2>
							<div class="textwidget">
								<blockquote>A prescription intake list ed as q.i.d. means you need to take it 4 times a day.<cite>Donald Shepard</cite></blockquote>
							</div>
						</aside>
						<aside id="archives-2" class="widget widget_archive">
							<h2 class="widget-title">Archives</h2>
							<ul>
								<li><a href='wordpress_62366201612.html'>December 2016</a></li>
								<li><a href='wordpress_62366201611.html'>November 2016</a></li>
								<li><a href='wordpress_62366201610.html'>October 2016</a></li>
							</ul>
						</aside>
						<aside id="calendar-12" class="widget widget_calendar">
							<h2 class="widget-title">Calendar</h2>
							<div id="calendar_wrap" class="calendar_wrap">
								<table id="wp-calendar">
									<caption>July 2018</caption>
									<thead>
										<tr>
											<th scope="col" title="Monday">M</th>
											<th scope="col" title="Tuesday">T</th>
											<th scope="col" title="Wednesday">W</th>
											<th scope="col" title="Thursday">T</th>
											<th scope="col" title="Friday">F</th>
											<th scope="col" title="Saturday">S</th>
											<th scope="col" title="Sunday">S</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<td colspan="3" id="prev"><a href="wordpress_62366201612.html">&laquo; Dec</a></td>
											<td class="pad">&nbsp;</td>
											<td colspan="3" id="next" class="pad">&nbsp;</td>
										</tr>
									</tfoot>
									<tbody>
										<tr>
											<td colspan="6" class="pad">&nbsp;</td>
											<td>1</td>
										</tr>
										<tr>
											<td>2</td>
											<td>3</td>
											<td>4</td>
											<td>5</td>
											<td>6</td>
											<td>7</td>
											<td>8</td>
										</tr>
										<tr>
											<td>9</td>
											<td>10</td>
											<td>11</td>
											<td>12</td>
											<td>13</td>
											<td>14</td>
											<td id="today">15</td>
										</tr>
										<tr>
											<td>16</td>
											<td>17</td>
											<td>18</td>
											<td>19</td>
											<td>20</td>
											<td>21</td>
											<td>22</td>
										</tr>
										<tr>
											<td>23</td>
											<td>24</td>
											<td>25</td>
											<td>26</td>
											<td>27</td>
											<td>28</td>
											<td>29</td>
										</tr>
										<tr>
											<td>30</td>
											<td>31</td>
											<td class="pad" colspan="5">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</div>
						</aside>
					</div>
				</div>
				<!-- .row -->
			</div>
			<!-- .container -->
		</div>
		<!-- #content -->
		{% include "footer.html" %}
		<!-- #colophon -->
	</div>
	<!-- #page -->
	<link rel='stylesheet' id='cherry-search-css'  href='assets/plugins/cherry-search/assets/css/min/cherry-search.min.css?ver=1.0.0' type='text/css' media='all' />
	{% include "scripts.html" %}
	<script type='text/javascript' src='js/underscore.min.js?ver=1.8.3'></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var _wpUtilSettings = {"ajax":{"url":"\/wordpress_62366\/wp-admin\/admin-ajax.php"}};
		/* ]]> */
	</script>
	<script type='text/javascript' src='js/wp-util.min.js?ver=4.7.11'></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var cherrySearchMessages = {"serverError":"Sorry, but we cannot handle your search query now. Please, try again later!"};
		/* ]]> */
	</script>
	<script type='text/javascript' src='js/cherry-search.min.js?ver=1.0.0'></script>
</body>
</html>