.cta-848_wrap {background-color:#00a8ac; background-position:center center; background-repeat:repeat; background-size:auto; }
.cta-848_wrap .service-cta_desc {color:#ffffff; }
.cta-848_wrap .service-cta_title {color:#ffffff; }